* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; /*Hace que la pagina se deslice suave*/
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

#conteiner {
    display: flex;
}


#portada {
    position: relative;
}

#banner {
    z-index: 20;
}

#subtitulo {
    padding: 20px;
    width: 90%;
    text-align: center;
    font-size: 2em;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgba(102, 202, 167, 1);
}

#sub-titulo2 {
    padding: 20px;
    width: 100%;
    text-align: center;
    font-size: 2em;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgba(102, 202, 167, 1);
}

ul {
    list-style-type: none;
    justify-content: space-around;
}


.producto__imagen {
    border-radius: 8px;
}

#titulo {
    position: absolute;
    top: 60%;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(102, 202, 167, 0.8);
    z-index: 101;
}


/* ============  CSS de la pagina Contacot  ================*/

form {
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(102, 202, 167, 0.8);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#galeria{
    padding: 10px;
}
#galeria img {
    border-radius: 8px;
    box-shadow: 0 0 5px 1px darkgreen;
    transition: 0.3s;
    margin: 20px 0;
}

#galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 7px 2px darkgreen;
    transition: 0.3s;
}

#galeria article, #destacados article {
    padding: 20px;
    /*border: 1px solid var(--green-900);*/
    /*border-radius: 10px;*/
    /*margin: 10px 0;*/
}

#subtitulo, #sub-titulo2 {
    box-shadow: 0 2px 6px darkgreen;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subTgaleria {
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

/*
@media only screen and (max-width: 767px) {
   Estilos específicos para pantallas de celular 
}
*/
#piePagina {
    display: grid;
    width: 100%;
    background-color: rgba(16, 71, 52, 0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    /*grid-template-columns: 1fr 2fr 1fr 0.3fr;*/
    justify-content: center;
    text-align: center;
    align-items: center;
    color: wheat;
}

#mapa {
    margin-top: 20px;
}

#mapa iframe {
    width: 100%;
}

#redes ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

ion-icon {
    font-size: 30px;
    color: white;
}

#destacados article img {
    border-radius: 8px;
    box-shadow: 0 0 7px 2px darkgreen;
    transition: 0.3s;
    margin-top: 20px;
}

.producto {
    width: 100%;

}

.descripcion {
    padding: 15px 0;
}

.detalle {
    color: white;
    background-color: rgb(25, 135, 84);
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 10px;
}

.detalle:active {
    box-shadow: 0 0 3px 2px forestgreen;
    background-color: #cccccc;
    color: darkgreen;
}

#sub-titulo2 {
    margin-bottom: 20px;
}

.icon-contacto {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

#contacto h2 {
    text-align: center;
    margin: 20px 0;
}

.animado {
    width: 40px;
    height: 40px;
    margin: 0 30px;
    animation-name: contactoAnimado;
    animation-play-state: running;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes contactoAnimado {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

/* Estilos para pantallas de tablet (768px a 1023px de ancho) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Estilos específicos para pantallas de tablet */
    #titulo {
        position: absolute;
        top: 50%;
        padding: 30px;
        width: 100%;
        text-align: center;
        font-size: 2rem;
        background-color: rgba(102, 202, 167, 0.8);
        z-index: 101;
    }

    #destacados {
        display: flex;
    }

    #destacados article {
        padding: 1%;
    }

    #galeria img {
        border-radius: 8px;
        box-shadow: 0 0 5px 1px darkgreen;
        transition: 0.3s;
        margin-bottom: 10px;
    }

    #galeria img:hover {
        transform: scale(1.05);
        box-shadow: 0 0 7px 2px darkgreen;
        transition: 0.3s;
    }

    #galeria article {
        width: 50%;
        padding: 20px;
    }

    .subTgaleria {
        margin-bottom: 10px;
    }


    #galeria {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
    }

    /*=============== Pie de Pagina ================*/
    #piePagina {
        display: grid;
        width: 100%;
        background-color: rgba(16, 71, 52, 0.8);
        grid-template-columns: 1fr 2fr 1fr 0.3fr;
        justify-content: center;
        align-items: center;
        color: wheat;
    }

    #mapa {
        padding: 10px;
    }

    #mapa iframe {
        width: 100%;
    }

    #map-google {
        padding: 10px;
    }

    #redes ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    ion-icon {
        font-size: 20px;
        color: white;
    }

    #destacados article img {
        border-radius: 8px;
        box-shadow: 0 0 7px 2px darkgreen;
        transition: 0.3s;
    }


    .descripcion {
        padding: 15px 0;
    }

    .detalle {
        color: white;
        background-color: rgb(25, 135, 84);
        padding: 6px 12px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .detalle:active {
        box-shadow: 0 0 3px 2px forestgreen;
        background-color: #cccccc;
        color: darkgreen;
    }

    .icon-contacto {
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    #contacto h2 {
        text-align: center;
        margin: 20px 0;
    }

    .animado {
        width: 40px;
        height: 40px;
        margin: 0 30px;
        animation-name: contactoAnimado;
        animation-play-state: running;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 1s;
    }

    @keyframes contactoAnimado {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.5);
        }
    }
    .producto h2{
        height: 50px;
    }
}

/* Estilos para pantallas de PC de escritorio (1024px en adelante) */
@media only screen and (min-width: 1024px) {
    /* Estilos específicos para pantallas de PC de escritorio */
    #titulo {
        position: absolute;
        top: 50%;
        padding: 30px;
        width: 100%;
        text-align: center;
        font-size: 3rem;
        background-color: rgba(102, 202, 167, 0.8);
        z-index: 101;
    }

    #destacados {
        display: flex;
    }

    #destacados article {
        padding: 1%;
    }


    #galeria article {
        width: 25%;
        padding: 20px;
    }

    #galeria {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }

    #galeria img {
        border-radius: 8px;
        box-shadow: 0 0 5px 1px darkgreen;
        transition: 0.3s;
    }

    #galeria img:hover {
        transform: scale(1.05);
        box-shadow: 0 0 7px 2px darkgreen;
        transition: 0.3s;
    }

    .subTgaleria {
        margin-bottom: 10px;
    }

    #redes .icono:hover {
        transform: scale(1.3) rotate(360deg);
        transition: 0.3s;
    }

    /*=============== Pie de Pagina ================*/
    #piePagina {
        display: grid;
        width: 100%;
        background-color: rgba(16, 71, 52, 0.8);
        grid-template-columns: 1fr 2fr 1fr 0.3fr;
        justify-content: center;
        align-items: center;
        color: wheat;
    }

    #mapa {
        padding: 10px;
    }

    #mapa iframe {
        width: 100%;
    }

    #map-google {
        padding: 10px;
    }

    #redes ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    ion-icon {
        font-size: 30px;
        color: white;
    }

    #destacados article img {
        border-radius: 8px;
        box-shadow: 0 0 7px 2px darkgreen;
        transition: 0.3s;
    }

    .descripcion {
        padding: 15px 0;
    }

    .detalle {
        color: white;
        background-color: rgb(25, 135, 84);
        padding: 6px 12px;
        border-radius: 8px;
    }

    .detalle:active {
        box-shadow: 0 0 3px 2px forestgreen;
        background-color: #cccccc;
        color: darkgreen;
    }

    .icon-contacto {
        width: 100%;
        text-align: center;
        font-size: 3rem;
    }

    #contacto h2 {
        text-align: center;
        margin: 20px 0;
    }

    .animado {
        width: 40px;
        height: 40px;
        margin: 0 30px;
        animation-name: contactoAnimado;
        animation-play-state: running;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        animation-duration: 1s;
    }

    @keyframes contactoAnimado {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.5);
        }
    }

    #contenedor-contacto{
        background-image: url("../img/background_contacto.jpg");
        background-size: cover;
    }


}